.glutenWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.glutenBackground {
    background-color: aqua;
    width: 500px;
    padding: 10px;
}

.toggleSwitch {
    display: flex;
    justify-content: flex-start;
    width: 500px;
    margin: 15px;
}